* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.dashed-border {
    border: 1px dashed black;
}

header {
    min-height: 100px;
    background-color: aqua;
    align-content: center;
    flex-direction: column;
}

.headbar {
    background-color: orange;
    width: 80%;
    justify-content: space-between;
    margin: 3% auto;
    vertical-align: middle;
}

.headbar .logo {
    min-width: 20%;
}

.headbar .title {
    min-width: 60%;
    text-align: center;
}

.headbar .link {
    min-width: 20%;
    text-align: end;
}

.container {
    min-height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.layout {
    width: 70%;
    max-width: 1400px;
    min-height: 300px;
}

.container.zero {
    background-color: blue;
}

.container.zero .intro {
    background-color: pink;
    width: 50%;
    height: 250px;
}

.container.one,
.three {
    background-color: antiquewhite;
}

.itemblue {
    background-color: #1E90FF;
    width: 60%;
}

.itempink {
    background-color: #FFC0CB;
    width: 40%;
}

.container.two,
.four {
    background-color: gray;
}

.container.two .layout {
    flex-direction: row-reverse;
}

.container.four .layout {
    background-color: #228B22;
    height: 500px;
    margin: 2% 0;
}

.container.five,
footer {
    background-color: black;
}

.container.five .layout.left {
    background-color: #F08080;
    width: calc((70% /6)* 2);
}

.container.five .layout.right {
    background-color: #20B2AA;
    width: calc((70% / 6)* 4);
}

.container.five .layout.right div {
    width: calc(100% / 4);
    border: dashed 1px white;
}

footer {
    border-top: 1px solid #D6D7D7;
    min-height: 100px;
    justify-content: center;
    align-items: flex-end;
}

footer .layout {
    background-color: #20B2AA;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

footer .layout div {
    background-color: #FFB6C1;
    padding: 10px;
}